<%- include("./partials/head.ejs") %>
<div class="container"></div>
<div class="card-wrapper">
       <% data.forEach(employee => { %>
       <div class="employee-card">
         <img src="<%= employee.avatar %>" alt="<%= employee.name %> profile photo">
         <div class="stripe"></div>
         <div class="inside-card">
           <h2><%= employee.first_name + " " + employee.last_name %></h2>
           <span id="status-<%= employee.id %>"></span>
         </div>
       </div>
       <% }) %>
     </div>
    </div>

<%- include("./partials/foot.ejs") %>